@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('../../assets/fonts/web/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('../../assets/fonts/web/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('../../assets/fonts/web/Pretendard-SemiBold.woff2') format('woff2');
}
